# Core bot framework
python-telegram-bot==20.7

# Environment variables
python-dotenv==1.0.0

# MongoDB Drivers - Use these specific versions to avoid the import error
pymongo<4.9
motor<3.6

# Optional for making external HTTP requests
aiohttp==3.9.1
aioredis
